/VII SEMANA/Transferecias/nbproject/private/
/VII SEMANA/AprendeBootstrap/nbproject/private/
/BACKEND/Laboratorio/nbproject/private/
/BACKEND/Laboratorio/build/
/WebAppAgendaCRUD/WebAppAgendaCRUD/build/
/WebAppAgendaCRUD/WebAppAgendaCRUD/dist/
/WebAppAgendaCRUD/WebAppAgendaCRUD/nbproject/private/