*{
    padding:0px;
    margin:0px;
}

#contenido{
    width:600px;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 22px 22px 22px 95px;
    -moz-border-radius: 22px 22px 22px 95px;
    -webkit-border-radius: 22px 22px 22px 95px;
    border: 6px solid #403e40;
}

h1{
    font-family: 'Baloo Bhaina', cursive;
}

#caja3{
    position:absolute;
    width:110px;
    height:90px;
    margin-top:390px;
    margin-left:120px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 9px solid #e62b12;
    background-color: #eb9386;
}

#caja2{
    position:absolute;
    width:110px;
    height:135px;
    margin-top:345px;
    margin-left:330px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 9px solid #293fcc;
    background-color: #93a5d9;
}


#caja1{
    position:absolute;
    width:110px;
    height:190px;
    margin-top:290px;
    margin-left:220px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 9px solid #0e5409;
    background-color: #65d66a;
}

h3{
    text-align:center;
    vertical-align:text-bottom;
    font-size: 50px;
    color: #ffffff;
}

#persona{
    position:absolute;
    width:256px;
    height:256px;
    margin-top:60px;
    margin-left:150px;
}

#copa{
   margin-left:150px;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-name: sliding-vertically;
  -webkit-animation-name: sliding-vertically;
  animation-name: sliding-vertically;
}
    
@-moz-keyframes sliding-vertically {
  from {
        margin-top:-250px;
        -moz-animation-timing-function: ease-out;
    }

    50% {
        margin-top: 50px;
        -moz-animation-timing-function: ease-in;
    }
}

@-webkit-keyframes sliding-vertically {
  from {
        margin-top:-250px;
        -webkit-animation-timing-function: ease-out;
    }

    50% {
        margin-top: 50px;
        -webkit-animation-timing-function: ease-in;
    }
}

@keyframes sliding-vertically {
    from {
        margin-top:-250px;
        animation-timing-function: ease-out;
    }

    50% {
        margin-top: 50px;
        animation-timing-function: ease-in;
    }
}
