*{
    padding: 0px;
    margin: 0px;
}


#calculator{  
   
}

#mainTable{
    text-align:center;
    border:0px;
}

#mainTable td{
    height:45px;
    width:30px;
}

#firstRow{
    background:#2e5896;
}

#firstRow #title{
    font-size:18px;
    font-family:Arial;
    color:#ffffff;
}