*{
    padding: 0px;
    margin: 0px;
}


#calculator{  
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left:-200px;

}

#mainTable{
    text-align:center;
    border:1px solid black;
}

#mainTable td{
    height:45px;
    width:30px;
    border:1px solid black;
}

#firstRow{
    background:#2e5896;
    color:#ffffff;
    font-size:22px;
    font-family:Arial;
}

#close{
    background:#e6291c;
}

#view{
    background:#fcf9f9;
    font-size:22px;
    font-family:Arial;
    text-align:right;
}

.keys td{
    background:#faf5fa;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(23,3,89,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(23,3,89,1);
    box-shadow: 0px 0px 1px 1px rgba(23,3,89,1);
    cursor:pointer;
}
