/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2016, 6:10:17 PM
    Author     : chgari
*/

/*Estilos para el PERSONAS CRUD*/

.height25{
    height: 25px;
}

.hiddenDiv{
    display: none;
}

.centered{
    margin:0 auto;
}

#pages li{
    cursor:pointer;
}

